.btn {
	padding: 20px 30px;
	font-size: $font-size-large;
	font-weight: 600;
	line-height: 20px;
	border: none;
	
	.icon-arrow-right { margin-left: 10px;}	
}

.btn-link { padding: 15px 0; 
	&:hover { color: $text-color; text-decoration: none; }
	.btn-text { text-decoration: underline; }
	.icon-arrow-right { margin-left: 10px; text-decoration: none;}
}

.btn-sm { padding: 5px 15px; font-size: $font-size-base; border-radius: 0;
	.icon-close { float: right; margin-left: 5px; line-height: 20px; font-size: 12px;}
}

.btn-group {
	.btn { height: 40px; padding:9px 10px; border: 1px solid $gray-light; border-radius: 4px; background:$brand-primary; font-size: 20px; cursor:default;}
	.btn.active { background:#fff; cursor: pointer;}
}

.close-popup { position: fixed; z-index: 99; top: 0; right:0; width: 40px; height: 40px; text-align: center; line-height: 40px; background:$brand-primary; border: none; font-weight: 600;}

.left-btn { float: left;}

.modal-footer .btn-link { margin-top: 5px;}