/* Common */
html, body {
	min-height:100vh; 
}
@media (max-width: $screen-sm-max) {
	body { padding-top: 154px;}
	body.simple-header { padding-top: 94px;}
}
a { text-decoration:none;}
a[href] { cursor:pointer; }
a:active {outline:none;}
:focus {-moz-outline-style:none; outline:0;}

a, button {
	touch-action: manipulation;
	&:hover, &:active, &:focus, &.active { outline:none;}
}

ul { list-style:none;}
ul, li { padding:0; margin:0;}

table { border-collapse:collapse; border-spacing:0; }

.bottom-space {
	margin-bottom: $brand__spacing;
}
.top-space {
	margin-top: $brand__spacing;
}

// Container widths
// @media (min-width: $screen-sm-min) {
// 	.container { width: 740px; }
// }
@media (min-width: $screen-md-min) {
	.container { width: 970px; }
}
@media (min-width: $screen-lg-min) {
	.container { width: 1170px; }
}
@media (min-width: 1300px) {
	.container { width: 1270px; }
}
@media (min-width: 1600px) {
	.container { width: 1570px; }
}
@media (min-width: 1800px) {
	.container { width: 1770px; }
}
@media (min-width: $screen-md-min) {
	.hidden-desktop { display: none !important; }
}
@media (max-width: $screen-sm-max) {
	.hidden-mobile { display: none !important; }
}
