.dropdown-menu {
  min-width: 0;
  padding:0;
  margin:0;
  border:none;
  @include box-shadow(0px 0px 20px rgba(0, 0, 0, 0.2));
	
  @media (min-width: $screen-md-min) {
  	> li + li {
  		border-top: 1px solid $gray-light;
  	}
  }
	@media (max-width: $screen-sm-max) {
		> li + li {
			margin-top: 5px;
		}
	}
  // Links within the dropdown menu
  > li > a {
    padding:12px 15px;
    line-height:1.25;
    color: $gray-base;
  }
}

// Hover/Focus state
.dropdown-menu > li > a {
  &:hover,
  &:focus {
    text-decoration: none;
    color: $link-hover-color;
    background:none;
  }
}
@media (max-width: $screen-sm-max) {
    .mobile-dropdown.open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      background-color: transparent;
      box-shadow: none;
			 > li > a {
				padding: 5px 15px 5px 25px;
			  line-height:20px;
			}
    }
}
.dropdown-btn {
	display: flex; align-items: center; cursor: pointer;
	&:hover,
	&:focus {
		color: $text-color;
		text-decoration: none;
	}
	.icon-arrow-down-small { float: right; margin:5px 0 5px 6px; font-size: 10px;}
}