textarea {resize:none;}

label { 
	margin-bottom: 0; 
	padding: 6px 0; 
	font-weight: 600;
}

.form-control {
	height: 40px;
	padding:9px 10px;
}
.form-horizontal .control-label {
	text-align: left;
	margin-top: 4px;
}
.form-horizontal .control-label + [class*='col-'] { padding-left: 0;}
.form-horizontal [class*='xs-offset-'] { padding-left: 0;}

.help-block {
	opacity: 0.6;
	margin-bottom: $form-group-margin-bottom;
}
.form-group + .help-block { margin-top: -15px; }
.has-error .help-block { opacity: 1;}

.checkbox, .radio {
	label{
		position: relative; padding:5px 0 5px 30px; line-height: 20px;
		input { opacity: 0; position: absolute; }
		span {
			&:before { content: ''; display: block; z-index: 1; position: absolute; left:2px; top:7px; width: 16px; height: 16px; border: 1px solid $gray-light; background: #fff;}
			&:after { content: ''; display: none; z-index: 0; position: absolute; left:0; top:5px; width: 20px; height: 20px; background: #FCEDBE;}
			.icon-check { display: none; font-size: 9px; z-index: 2; position: absolute; left:5px; top: 7px; line-height: 16px;}
		}
		input:checked + span {
			.icon-check { display: block;}
			&:before { border-color: $brand-primary;}
			&:after { display: block;}
		}
		input:disabled + span {
			color: rgba(0,0,0, 0.2);
			&:before { background:$gray-light; }
		}
	}
}
.radio label span {
	&:before,&:after { border-radius: 50%;}
}