img { border:none; outline:none; max-width:100%;}

.o-fit {
    object-fit: cover;
    object-position: center center;
    font-family: 'object-fit: cover;object-position: center center;';
    height: 100%;
    width: 100%;
}