.modal-header,
.modal-footer {
	padding: 15px 20px;
}
.modal-body { padding: 20px; }
.modal-header {
	.close {
		opacity: 1;
		margin: 0 -20px 0 0;
		padding: 7px 15px;
		font-size: 100%;
	}
}
.modal-footer { padding: 15px; }

.alert-bar { display: none; position: fixed; top:0; left:0; width: 100%; z-index: $zindex-modal; padding: 15px; color: $gray-base; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
	h3 { line-height: 30px;}
	.close { position: absolute; right:0; width: 40px; font-size: 14px; opacity: 1; line-height: 30px; text-align: center;}
	.open-cart-btn { display:inline-block; padding: 0 20px; background: $gray-darker; color: #fff; line-height: 30px; text-decoration: none; font-weight: 600;}
	@media (max-width: $screen-sm-max) {
		text-align: center;
		h3 { margin-bottom: 15px; margin-right: 25px; text-align: left; }
	}
	&.open { display: block;}
	@media (min-width: $screen-md-min) {
		align-items: flex-start; left: 50%; transform: translateX(-50%); max-width: 868px; padding: 15px 120px 15px 60px;
		h3 { flex: 1; margin-right: 20px;}
		&.open { display: flex;}
	}
}
.alert-success {
	background: linear-gradient(0deg, rgba(55, 125, 34, 0.1), rgba(55, 125, 34, 0.1)), #FFFFFF;
}