h1, h2, h3, h4, h5, h6 { margin:0; }
h1, h2 { font-weight:normal; }
h3, h4, h5, h6 { font-weight: 600;}

.circle-check { position: relative; display: block; float: left; width: 30px; height: 30px; margin-right:15px; font-size: 14px; line-height: 30px; background: rgba($brand-success,0.1); color: $brand-success; border-radius: 50%; text-align:center;
	&:before { content: ''; position: absolute; top: 2px; left: 2px; width: 26px; height: 26px; border: 1px solid $brand-success;  border-radius: 50%; }
}
h2 .circle-check { margin-top: 4px;}
.success-message {
	position:relative; padding-left: 45px;
	.circle-check { position: absolute; left: 0; top: 0;}
}
.page-title { margin-bottom: 20px;}