//
// Tooltips
// --------------------------------------------------

.tooltip-inner {
  padding:15px;
  text-align: left;
  border-radius: 4px;
	line-height: 1.3;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	width: 210px;
}

.tooltip {
  &.top {
		margin-left:80px;
		.tooltip-arrow {
			left: 25px !important;
		}
	}
}
