<footer class="footer">
	<div class="container">
		<div class="footer-content">
			<div class="footer-contact">
				<h4>Do you have a question or need help?</h4>
				<div class="footer-contact-card">
					<a href="#" class="user-avatar">
						<img src="images/Avatar.png" class="user-avatar-img">
					</a>
					<div class="footer-contact-desc">
						<p>Contact John doe</p>
						<p>from Mon to Fri form 8.30 to 18.30</p>
					</div>
				</div>
				<ul class="footer-contact-ways">
					<li>
						<a href="#" class="footer-contact-item">
							<span class="contact-item-icon"><i class="icon-question"></i></span>
							Check FAQ
						</a>
					</li>
					<li>
						<a href="#" class="footer-contact-item">
							<span class="contact-item-icon"><i class="icon-mail"></i></span>
							Send a message
						</a>
					</li>
					<li>
						<a href="#" class="footer-contact-item">
							<span class="contact-item-icon"><i class="icon-headset"></i></span>
							Call 0800/123 456
						</a>
					</li>
				</ul>
			</div>
			<div class="footer-portal">
				<h4>Web portal</h4>
				<div class="footer-portal-links">
					<ul>
						<li><a href="#">Products</a></li>
						<li><a href="#">Orders</a></li>
						<li><a href="#">Invoices</a></li>
						<li><a href="#">Quotations</a></li>
					</ul>
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Contact us </a></li>
						<li><a href="#">Complaints</a></li>
					</ul>
					<ul>
						<li><a href="#">My account</a></li>
						<li><a href="#">My company</a></li>
					</ul>
					<ul>
						<li><a href="#">News</a></li>
						<li><a href="#">recticelInsulation.com</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</footer>
<div class="container">
	<ul class="footer-links-bar">
		<li><a href="#">© Recticel Insulation</a></li>
		<li><a href="#">Legal policy</a></li>
	</ul>
</div>
