<div class="container">
	<div style="padding: 40px 0; max-width:600px;">
		<h3 style="margin-bottom: 20px;">Input status demo</h3>
		<div class="form-group">
			<label class="control-label">Input</label>
			<input type="password" class="form-control" placeholder="placeholder...">
		</div>
		<div class="form-group">
			<label class="control-label">Disabled input</label>
			<input type="password" class="form-control" placeholder="Disabled input here..." disabled="disabled">
		</div>
		<div class="form-group has-error">
			<label class="control-label">Input with error</label>
			<select class="form-control">
				<option>AA</option>
			</select>
			<span class="help-block">Error message</span>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
		    <span><i class="icon-check"></i>
				Option 1
		    </span> 
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
		    <span><i class="icon-check"></i>
				Option 2
		    </span> 
		  </label>
		</div>
		<div class="radio">
		  <label>
		    <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2" disabled="disabled">
		    <span><i class="icon-check"></i>
				Option 3
		    </span> 
		  </label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				<span><i class="icon-check"></i>
					Option A
				</span>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" value="">
				<span><i class="icon-check"></i>
					Option B
				</span>
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox" disabled="disabled" value="">
				<span><i class="icon-check"></i>
					Option C
				</span>
			</label>
		</div>
	</div>
</div>
