<header class="header">
	<div class="top-bar">
		<div class="container">
			<div class="top-bar-content">
				<div class="link-portal">
					<a href="#">Customer portal</a>
				</div>

				<ul class="top-tools hidden-mobile">
					<li><a href="#">FAQ </a></li>
					<li><a href="#">Customer service</a></li>
					<li><a href="#">News</a></li>
					<li>
						<div class="dropdown">
							<a class="dropdown-btn" id="languageSwitch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">NL<span
								 class="icon-arrow-down-small"></span>
							</a>
							<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="languageSwitch">
								<li><a href="#">EN</a></li>
								<li><a href="#">FR</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="header-content">
			<div class="brand-logo">
				<a href="home.html">
					<img src="images/Recticel.png">
				</a>
			</div>
			<div class="header-search hidden-mobile">
				<input type="text" class="search-txt " placeholder="Product name or ID " />
				<button type="button" class="search-btn"><span class="icon-search"></span></button>
			</div>
			<div class="header-tools">
				<div class="tool-item dropdown user-dropdown hidden-mobile">
					<a class="user-dropdown-btn" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="user-avatar tool-item-icon">
							<img src="images/Avatar.png" class="user-avatar-img">
							<i class="icon-user"></i>
						</span>
						<span class="user-company">
							<span class="user-name">Gino Lardon <i class="icon-arrow-right"></i></span>
							Delaware
						</span>
					</a>
					<ul class="dropdown-menu" aria-labelledby="userDropdown">
						<li><a href="#">Manage users</a></li>
						<li><a href="#">My Account</a></li>
						<li><a href="#">Log out</a></li>
					</ul>
				</div>
				<div class="tool-item tool-mail">
					<a class="tool-item-icon empty">
						<span class="icon-bell-full">
							<span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span><span
							 class="path5"></span>
						</span>
						<span class="icon-chart-right-full">
							<span class="path1"></span><span class="path2"></span>
						</span>
						<span class="chart-number">0</span>
					</a>
				</div>
				<div class="tool-item">
					<a href="#" class="tool-item-icon">
						<span class="icon-truck">
							<span class="path1"></span><span class="path2"></span>
						</span>
						<span class="icon-chart-left-full">
							<span class="path1"></span><span class="path2"></span>
						</span>
						<span class="chart-number">7</span>
					</a>
				</div>
				<div class="tool-item hidden-desktop">
					<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#main-navbar"
					 aria-controls="main-navbar" aria-expanded="false">
						<span class="icon-cancel"></span>
						<span class="icon-menu-collapsed"></span>
					</button>
				</div>
			</div>
		</div>
	</div>
	<div class="header-search-mobile hidden-desktop">
		<div class="header-search">
			<input type="text" class="search-txt " placeholder="Product name or ID " />
			<button type="button" class="search-btn"><span class="icon-search"></span></button>
		</div>
	</div>
	<nav id="main-navbar" class="collapse navbar-collapse">
		<div class="container">
			<ul class="nav navbar-nav">
				<li class="active">
					<a href="#">Products </a>
				</li>
				<li class="dropdown mobile-dropdown">
					<a class="dropdown-btn">Orders
						<span class="icon-arrow-down-small"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Quick order</a></li>
						<li><a href="#">Import via CSV</a></li>
						<li><a href="#">Order from products-list</a></li>
						<li><a href="#">Order overview</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Invoices </a>
				</li>
				<li>
					<a href="#">Quotations </a>
				</li>
				<li>
					<a href="#">Reports </a>
				</li>
			</ul>
		</div>
		<ul class="top-tools hidden-desktop">
			<li><a href="#">FAQ </a></li>
			<li><a href="#">Customer service</a></li>
			<li><a href="#">News</a></li>
		</ul>
		<div class="dropdown user-dropdown mobile-dropdown hidden-desktop">
			<a class="user-dropdown-btn dropdown-btn">
				<span class="user-avatar">
					<img src="images/Avatar.png" class="user-avatar-img">
					<i class="icon-user"></i>
				</span>
				<span class="user-company">
					<span class="user-name">Gino Lardon <i class="icon-arrow-right"></i></span>
					Delaware
				</span>
			</a>
			<ul class="dropdown-menu">
				<li><a href="#">Manage users</a></li>
				<li><a href="#">My Account</a></li>
				<li><a href="#">Log out</a></li>
			</ul>
		</div>
		<div class="dropdown language-dropdown mobile-dropdown hidden-desktop">
			<a class="dropdown-btn">NL<span class="icon-arrow-down-small"></span></a>
			<ul class="dropdown-menu dropdown-menu-right">
				<li><a href="#">EN</a></li>
				<li><a href="#">FR</a></li>
			</ul>
		</div>
	</nav>
</header>
<script>
	$(document).ready(function() {
		$('.mobile-dropdown .dropdown-btn').click(function() {
			$(this).parent().toggleClass('open');
		})
	});
</script>