<header class="header">
	<div class="top-bar">
		<div class="container">
			<div class="top-bar-content">
				<div class="link-portal">
					<a href="#">Customer portal</a>
				</div>

				<ul class="top-tools hidden-mobile">
					<!-- <li><a href="#">FAQ </a></li>
					<li><a href="#">Customer service</a></li>
					<li><a href="#">News</a></li> -->
					<li>
						<div class="dropdown">
							<a id="languageSwitch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								NL
								<span class="icon-arrow-down-small"></span>
							</a>
							<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="languageSwitch">
								<li><a href="#">EN</a></li>
								<li><a href="#">FR</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="header-content">
			<div class="brand-logo">
				<a href="home.html">
					<img src="images/Recticel.png">
				</a>
			</div>
		</div>
	</div>
</header>
