<section class="login">
	<div class="container">
		<div class="login-content">
			<h2>Welcome to recticel insultation B2B portal</h2>
			<div class="login-content-desc">
				<p>Login to the Rectucel insulation B2B portal to login to the Customer portal of Recticel insulation Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam </p>
			</div>
			<form class="login-form">
				<div class="form-group">
					<label for="exampleInputEmail1">Email address</label>
					<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<div class="login-btn-box">
					<button type="submit" class="btn btn-primary btn-login">Login<span class="icon-arrow-right"></span></button>
					<button type="button" data-toggle="modal" data-target="#forgotPassword" class="btn btn-link"><span class="btn-text">
						Forgot your password
					</span></button>
				</div>
			</form>
		</div>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="forgotPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-close"></span></button>
				<h3 class="modal-title" id="myModalLabel">Forgot your password</h3>
			</div>
			<div class="modal-body">
				<p>Please enter your account e-mail adress. We will email you instuctions on how to reset your password</p>
				<form class="login-form">
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
					</div>
					<div class="login-btn-box">
						<button type="submit" class="btn btn-primary btn-login">OK<span class="icon-arrow-right"></span></button>
						<button type="button" class="btn btn-link" data-dismiss="modal"><span class="btn-text">
							Cancel
						</span></button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
