<div class="pageLinks hidden-xs" style="position:fixed; top:40%; left:0; background:rgba(230,230,230,0.9); padding:15px; z-index:10000;white-space:nowrap;"><a
	 style="float:right; margin:-10px -10px 0 0;" class="closeLink">X</a>
	<h4 style="margin-top:0; margin-bottom:10px;">Page List</h4>
	<ol style="margin:0; padding:0; line-height:1.5;">
		<li style="list-style-type:decimal-leading-zero; list-style-position:inside;">
			<a href="Form.html">Form</a>
		</li>
		<li style="list-style-type:decimal-leading-zero; list-style-position:inside;">
			<a href="Login.html">Login</a>
		</li>
		<li style="list-style-type:decimal-leading-zero; list-style-position:inside;">
			<a href="Login-Reset-password.html">Reset password</a>
		</li>
		<li style="list-style-type:decimal-leading-zero; list-style-position:inside;">
			<a href="Login-Reset-password-confirmation.html">Reset successfully</a>
		</li>
		<li style="list-style-type:decimal-leading-zero; list-style-position:inside;">
			<a href="Home.html">Header & Footer - Logged</a>
		</li>
		<li style="list-style-type:decimal-leading-zero; list-style-position:inside;">
			<a href="Product-list-overiew.html">Product list overiew</a>
		</li>
	</ol>
</div>
<script>
	$(document).ready(function() {
		$('.pageLinks .closeLink').click(function() {
			$(this).parent().hide();
		});
	});
</script>
