<div class="product-list">
	<div class="page-title">
		<div class="container">
			<h2>Filter or select a product </h2>
		</div>
	</div>
	<div class="product-list-overview">
		<div class="product-list-filter">
			<button type="button" class="close-popup hidden-desktop"><span class="icon-close"></span> </button>
			<div class="product-filter-number">
				<strong>9</strong> Results
			</div>
			<div class="panel-group product-filter-group">
				<div class="panel">
					<div class="panel-heading" role="tab" id="headingOne">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Search
								<span class="icon-arrow-top"></span><span class="icon-arrow-down"></span></a>
						</h5>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<div class="product-search">
								<input type="text" class="search-txt " placeholder="Product name or ID " />
								<button type="button" class="search-btn"><span class="icon-arrow-right"></span></button>
							</div>
						</div>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading" role="tab" id="headingTwo">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Application
								<span class="icon-arrow-top"></span><span class="icon-arrow-down"></span></a>
						</h5>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<ul class="app-list">
								<li><a href="#"><img class="app-list-icon" src="images/Cavitywall.png">Flat roof</a></li>
								<li><a href="#"><img class="app-list-icon" src="images/Pitchedroof.png">Pitched roof</a></li>
								<li><a href="#"><img class="app-list-icon" src="images/Ceiling.png">Ceiling </a></li>
								<li><a href="#"><img class="app-list-icon" src="images/Internal.png">Internal wall</a></li>
								<li><a href="#"><img class="app-list-icon" src="images/Cavitywall.png">Cavity wall</a></li>
								<li><a href="#"><img class="app-list-icon" src="images/Externalwall.png">External wall</a></li>
								<li><a href="#"><img class="app-list-icon" src="images/Floors.png">Floor </a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading" role="tab" id="headingThree">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Lambda
								λ
								<span class="tooltip-info-btn" data-toggle="tooltip" data-placement="top" title="The lambda value indicates the thermal conductivity of a material. It is expressed in W/mK. The lower the value, the less heat is led thus the better the material insulates."><i
									 class="icon-info"></i></span>
								<span class="icon-arrow-top"></span><span class="icon-arrow-down"></span>
							</a>
						</h5>
					</div>
					<div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										0.008 - 0.009
									</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										0.019
									</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										0.020
									</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										0.022
									</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										0.023
									</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										0.024 - 0.026
									</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										0.034
									</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										0.037
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading" role="tab" id="headingFour">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Accesories
								<span class="icon-arrow-top"></span><span class="icon-arrow-down"></span></a>
						</h5>
					</div>
					<div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										Tape
									</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										Screws
									</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										Glue
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading" role="tab" id="headingFive">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"
							 class="collapsed">Insulation Type
								<span class="icon-arrow-top"></span><span class="icon-arrow-down"></span></a>
						</h5>
					</div>
					<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										Label One
									</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										Label Two
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading" role="tab" id="headingSix">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix"
							 class="collapsed">Building Type
								<span class="icon-arrow-top"></span><span class="icon-arrow-down"></span></a>
						</h5>
					</div>
					<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										Label One
									</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										Label Two
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading" role="tab" id="headingSeven">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"
							 class="collapsed">Finish
								<span class="icon-arrow-top"></span><span class="icon-arrow-down"></span></a>
						</h5>
					</div>
					<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										Label One
									</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										Label Two
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading" role="tab" id="headingEight">
						<h5 class="panel-title">
							<a role="button" data-toggle="collapse" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight"
							 class="collapsed">Certificates
								<span class="icon-arrow-top"></span><span class="icon-arrow-down"></span></a>
						</h5>
					</div>
					<div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										Label One
									</span>
								</label>
							</div>
							<div class="checkbox">
								<label>
									<input type="checkbox" value="">
									<span><i class="icon-check"></i>
										Label Two
									</span>
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="product-list-content">
			<div class="product-items-top">
				<div class="product-view-box">
					<a class="filter-btn hidden-desktop">
						<span class="icon-filter">
							<span class="path1"></span><span class="path2"></span>
						</span>
						Filter
					</a>
					<div class="form-group">
						<label class="control-label">Sort by</label>
						<select class="form-control">
							<option>Alphabeth (A-Z)</option>
							<option>Alphabeth (Z-A)</option>
						</select>
					</div>
					<div class="btn-group hidden-mobile">
						<button type="button" class="btn list-view-btn active"><span class="icon-view-list"></span></button>
						<button type="button" class="btn grid-view-btn"><span class="icon-view-grid"></span></button>
					</div>
				</div>
				<div class="product-filter-result">
					<label class="hidden-xs">
						Actieve filters
					</label>
					<a class="btn btn-sm btn-primary">Flat roof <span class="icon-close"></span></a>
					<a class="btn btn-sm btn-default">Reset all filters</a>
				</div>
			</div>
			<div class="product-items grid-view">
				<div class="product-item">
					<div class="product-item-header">
						<span class="new">New</span>
						<img src="images/Floors.png" class="product-item-app hidden-grid">
						<img class="product-item-img" src="images/product-item-img.png">
					</div>
					<div class="product-item-body">
						<div class="product-item-title">
							<img class="product-item-brand" src="images/eurothane.png">
							<p class="product-item-price">Vanaf €10,00m2*</p>
						</div>
						<div class="product-item-summary">
							<img src="images/Floors.png" class="product-item-app hidden-list">
							<div class="product-item-desc">Isolatieplaat en gipskarton gecombineerd in één praktische plaat voor de isolatie
								van binnenmuren en toepassingen met hellende daken.</div>
						</div>
						<dl class="product-item-spec">
							<dt>Dikte isolatie</dt>
							<dd>20 - 120 mm</dd>
							<dt>Lambda (λ)</dt>
							<dd>0,022 W/mK</dd>
							<dt>RD Waardes</dt>
							<dd>0,90 - 5,45 m²K/W</dd>
							<dt>RD Waardes</dt>
							<dd>0,90 - 5,45 m²K/W</dd>
						</dl>
					</div>
					<div class="product-item-footer">
						<button type="button" class="btn btn-primary cart-btn" data-toggle="modal" data-target="#cart">
							<span class="icon-truck">
								<span class="path1"></span><span class="path2"></span>
							</span>
							<span class="hidden-desktop">Add to cart</span>
						</button>
						<a href="#" class="btn btn-link">
							<span class="btn-text">More info</span><span class="icon-arrow-right hidden-mobile"></span>
						</a>
					</div>
				</div>
				<div class="product-item">
					<div class="product-item-header">
						<img src="images/Floors.png" class="product-item-app hidden-grid">
						<img class="product-item-img" src="images/product-item-img.png">
					</div>
					<div class="product-item-body">
						<div class="product-item-title">
							<img class="product-item-brand" src="images/eurothane.png">
							<p class="product-item-price">Vanaf €10,00m2*</p>
						</div>
						<div class="product-item-summary">
							<img src="images/Floors.png" class="product-item-app hidden-list">
							<div class="product-item-desc">Isolatieplaat en gipskarton gecombineerd in één praktische plaat voor de isolatie
								van binnenmuren en toepassingen met hellende daken.</div>
						</div>
						<dl class="product-item-spec">
							<dt>Dikte isolatie</dt>
							<dd>20 - 120 mm</dd>
							<dt>Lambda (λ)</dt>
							<dd>0,022 W/mK</dd>
							<dt>RD Waardes</dt>
							<dd>0,90 - 5,45 m²K/W</dd>
							<dt>RD Waardes</dt>
							<dd>0,90 - 5,45 m²K/W</dd>
						</dl>
					</div>
					<div class="product-item-footer">
						<button type="button" class="btn btn-primary cart-btn" data-toggle="modal" data-target="#cart">
							<span class="icon-truck">
								<span class="path1"></span><span class="path2"></span>
							</span>
							<span class="hidden-desktop">Add to cart</span>
						</button>
						<a href="#" class="btn btn-link">
							<span class="btn-text">More info</span><span class="icon-arrow-right hidden-mobile"></span>
						</a>
					</div>
				</div>
				<div class="product-item">
					<div class="product-item-header">
						<p class="product-promo">Promo</p>
						<img src="images/Floors.png" class="product-item-app hidden-grid">
						<img class="product-item-img" src="images/product-item-img.png">
					</div>
					<div class="product-item-body">
						<div class="product-item-title">
							<img class="product-item-brand" src="images/eurothane.png">
							<p class="product-item-price">Vanaf €10,00m2*</p>
						</div>
						<div class="product-item-summary">
							<img src="images/Floors.png" class="product-item-app hidden-list">
							<div class="product-item-desc">Isolatieplaat en gipskarton gecombineerd in één praktische plaat voor de isolatie
								van binnenmuren en toepassingen met hellende daken.</div>
						</div>
						<dl class="product-item-spec">
							<dt>Dikte isolatie</dt>
							<dd>20 - 120 mm</dd>
							<dt>Lambda (λ)</dt>
							<dd>0,022 W/mK</dd>
							<dt>RD Waardes</dt>
							<dd>0,90 - 5,45 m²K/W</dd>
							<dt>RD Waardes</dt>
							<dd>0,90 - 5,45 m²K/W</dd>
						</dl>
					</div>
					<div class="product-item-footer">
						<button type="button" class="btn btn-primary cart-btn" data-toggle="modal" data-target="#cart">
							<span class="icon-truck">
								<span class="path1"></span><span class="path2"></span>
							</span>
							<span class="hidden-desktop">Add to cart</span>
						</button>
						<a href="#" class="btn btn-link">
							<span class="btn-text">More info</span><span class="icon-arrow-right hidden-mobile"></span>
						</a>
					</div>
				</div>
				<div class="product-item">
					<div class="product-item-header">
						<img src="images/Floors.png" class="product-item-app hidden-grid">
						<img class="product-item-img" src="images/product-item-img.png">
					</div>
					<div class="product-item-body">
						<div class="product-item-title">
							<img class="product-item-brand" src="images/eurothane.png">
							<p class="product-item-price">Vanaf €10,00m2*</p>
						</div>
						<div class="product-item-summary">
							<img src="images/Floors.png" class="product-item-app hidden-list">
							<div class="product-item-desc">Isolatieplaat en gipskarton gecombineerd in één praktische plaat voor de isolatie
								van binnenmuren en toepassingen met hellende daken.</div>
						</div>
						<dl class="product-item-spec">
							<dt>Dikte isolatie</dt>
							<dd>20 - 120 mm</dd>
							<dt>Lambda (λ)</dt>
							<dd>0,022 W/mK</dd>
							<dt>RD Waardes</dt>
							<dd>0,90 - 5,45 m²K/W</dd>
							<dt>RD Waardes</dt>
							<dd>0,90 - 5,45 m²K/W</dd>
						</dl>
					</div>
					<div class="product-item-footer">
						<button type="button" class="btn btn-primary cart-btn" data-toggle="modal" data-target="#cart">
							<span class="icon-truck">
								<span class="path1"></span><span class="path2"></span>
							</span>
							<span class="hidden-desktop">Add to cart</span>
						</button>
						<a href="#" class="btn btn-link">
							<span class="btn-text">More info</span><span class="icon-arrow-right hidden-mobile"></span>
						</a>
					</div>
				</div>
				<div class="product-item">
					<div class="product-item-header">
						<span class="new">New</span>
						<p class="product-promo">Promo</p>
						<img src="images/Floors.png" class="product-item-app hidden-grid">
						<img class="product-item-img" src="images/product-item-img.png">
					</div>
					<div class="product-item-body">
						<div class="product-item-title">
							<img class="product-item-brand" src="images/eurothane.png">
							<p class="product-item-price">Vanaf €10,00m2*</p>
						</div>
						<div class="product-item-summary">
							<img src="images/Floors.png" class="product-item-app hidden-list">
							<div class="product-item-desc">Isolatieplaat en gipskarton gecombineerd in één praktische plaat voor de isolatie
								van binnenmuren en toepassingen met hellende daken.</div>
						</div>
						<dl class="product-item-spec">
							<dt>Dikte isolatie</dt>
							<dd>20 - 120 mm</dd>
							<dt>Lambda (λ)</dt>
							<dd>0,022 W/mK</dd>
							<dt>RD Waardes</dt>
							<dd>0,90 - 5,45 m²K/W</dd>
							<dt>RD Waardes</dt>
							<dd>0,90 - 5,45 m²K/W</dd>
						</dl>
					</div>
					<div class="product-item-footer">
						<button type="button" class="btn btn-primary cart-btn" data-toggle="modal" data-target="#cart">
							<span class="icon-truck">
								<span class="path1"></span><span class="path2"></span>
							</span>
							<span class="hidden-desktop">Add to cart</span>
						</button>
						<a href="#" class="btn btn-link">
							<span class="btn-text">More info</span><span class="icon-arrow-right hidden-mobile"></span>
						</a>
					</div>
				</div>
				<div class="product-item">
					<div class="product-item-header">
						<img src="images/Floors.png" class="product-item-app hidden-grid">
						<img class="product-item-img" src="images/product-item-img.png">
					</div>
					<div class="product-item-body">
						<div class="product-item-title">
							<img class="product-item-brand" src="images/eurothane.png">
							<p class="product-item-price">Vanaf €10,00m2*</p>
						</div>
						<div class="product-item-summary">
							<img src="images/Floors.png" class="product-item-app hidden-list">
							<div class="product-item-desc">Isolatieplaat en gipskarton gecombineerd in één praktische plaat voor de isolatie
								van binnenmuren en toepassingen met hellende daken.</div>
						</div>
						<dl class="product-item-spec">
							<dt>Dikte isolatie</dt>
							<dd>20 - 120 mm</dd>
							<dt>Lambda (λ)</dt>
							<dd>0,022 W/mK</dd>
							<dt>RD Waardes</dt>
							<dd>0,90 - 5,45 m²K/W</dd>
							<dt>RD Waardes</dt>
							<dd>0,90 - 5,45 m²K/W</dd>
						</dl>
					</div>
					<div class="product-item-footer">
						<button type="button" class="btn btn-primary cart-btn" data-toggle="modal" data-target="#cart">
							<span class="icon-truck">
								<span class="path1"></span><span class="path2"></span>
							</span>
							<span class="hidden-desktop">Add to cart</span>
						</button>
						<a href="#" class="btn btn-link">
							<span class="btn-text">More info</span><span class="icon-arrow-right hidden-mobile"></span>
						</a>
					</div>
				</div>
				<div class="product-item">
					<div class="product-item-header">
						<p class="product-promo">Promo</p>
						<img src="images/Floors.png" class="product-item-app hidden-grid">
						<img class="product-item-img" src="images/product-item-img.png">
					</div>
					<div class="product-item-body">
						<div class="product-item-title">
							<img class="product-item-brand" src="images/eurothane.png">
							<p class="product-item-price">Vanaf €10,00m2*</p>
						</div>
						<div class="product-item-summary">
							<img src="images/Floors.png" class="product-item-app hidden-list">
							<div class="product-item-desc">Isolatieplaat en gipskarton gecombineerd in één praktische plaat voor de isolatie
								van binnenmuren en toepassingen met hellende daken.</div>
						</div>
						<dl class="product-item-spec">
							<dt>Dikte isolatie</dt>
							<dd>20 - 120 mm</dd>
							<dt>Lambda (λ)</dt>
							<dd>0,022 W/mK</dd>
							<dt>RD Waardes</dt>
							<dd>0,90 - 5,45 m²K/W</dd>
							<dt>RD Waardes</dt>
							<dd>0,90 - 5,45 m²K/W</dd>
						</dl>
					</div>
					<div class="product-item-footer">
						<button type="button" class="btn btn-primary cart-btn" data-toggle="modal" data-target="#cart">
							<span class="icon-truck">
								<span class="path1"></span><span class="path2"></span>
							</span>
							<span class="hidden-desktop">Add to cart</span>
						</button>
						<a href="#" class="btn btn-link">
							<span class="btn-text">More info</span><span class="icon-arrow-right hidden-mobile"></span>
						</a>
					</div>
				</div>
				<div class="product-item">
					<div class="product-item-header">
						<img src="images/Floors.png" class="product-item-app hidden-grid">
						<img class="product-item-img" src="images/product-item-img.png">
					</div>
					<div class="product-item-body">
						<div class="product-item-title">
							<img class="product-item-brand" src="images/eurothane.png">
							<p class="product-item-price">Vanaf €10,00m2*</p>
						</div>
						<div class="product-item-summary">
							<img src="images/Floors.png" class="product-item-app hidden-list">
							<div class="product-item-desc">Isolatieplaat en gipskarton gecombineerd in één praktische plaat voor de isolatie
								van binnenmuren en toepassingen met hellende daken.</div>
						</div>
						<dl class="product-item-spec">
							<dt>Dikte isolatie</dt>
							<dd>20 - 120 mm</dd>
							<dt>Lambda (λ)</dt>
							<dd>0,022 W/mK</dd>
							<dt>RD Waardes</dt>
							<dd>0,90 - 5,45 m²K/W</dd>
							<dt>RD Waardes</dt>
							<dd>0,90 - 5,45 m²K/W</dd>
						</dl>
					</div>
					<div class="product-item-footer">
						<button type="button" class="btn btn-primary cart-btn" data-toggle="modal" data-target="#cart">
							<span class="icon-truck">
								<span class="path1"></span><span class="path2"></span>
							</span>
							<span class="hidden-desktop">Add to cart</span>
						</button>
						<a href="#" class="btn btn-link">
							<span class="btn-text">More info</span><span class="icon-arrow-right hidden-mobile"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-close"></span></button>
				<h3 class="modal-title" id="myModalLabel">Add to order</h3>
			</div>
			<div class="modal-body">
				<p class="bottom-space">Please select thickness, size and number of packs or surface to add the product to your
					order.</p>
				<form class="form-horizontal">
					<div class="form-group">
						<label class="col-xs-5 control-label">Plate size</label>
						<div class="col-xs-7">
							<select class="form-control">
								<option>1200 x 1200 mm</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-5 control-label">Edge finishing </label>
						<div class="col-xs-7">
							<select class="form-control">
								<option>Tongue and groove</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-5 control-label">Slope type</label>
						<div class="col-xs-7">
							<select class="form-control">
								<option>positive </option>
							</select>
						</div>
					</div>
					<div class="form-group amount-group">
						<label class="col-xs-5 control-label">Amount </label>
						<div class="col-xs-7">
							<div class="cart-amount">
								<div class="form-group">
									<label>Pack </label>
									<div class="cart-number">
										<button type="button" class="btn btn-min">-</button>
										<input type="text" class="form-control" value="2">
										<button type="button" class="btn btn-plus">+</button>
									</div>
								</div>
								<div class="equal">
									=
								</div>
								<div class="form-group">
									<label>Surface </label>
									<input type="text" class="form-control cart-total" value="132,22">
								</div>
							</div>
							<p class="help-block">(12 plates / pack)</p>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" data-toggle="modal" data-target="#cart" class="btn btn-link left-btn">
					<span class="btn-text">Cancel</span>
				</button>
				<button type="button" id="addToCart" class="btn btn-primary cart-btn big-cart">
					<span class="icon-truck">
						<span class="path1"></span><span class="path2"></span>
					</span>
					Add to cart
				</button>
			</div>
		</div>
	</div>
	<div class="alert-success alert-bar" id="addSuccess">
		<button type="button" class="close" data-toggle="modal" data-target="#cart"><span class="icon-close"></span></button>
		<h3 class="success-message">
			<span class="circle-check"><i class="icon-check"></i></span>
			Product is added to your selected products
		</h3>
		<a href="#" class="open-cart-btn">Open selection</a>
	</div>
</div>

<script>
	$(document).ready(function() {
		//tooltip
		$('[data-toggle="tooltip"]').tooltip();

		//list view
		$(".list-view-btn").click(function() {
			if ($(this).hasClass("active")) {
				$(this).removeClass('active');
				$(this).siblings().addClass('active');
				$('.product-items').removeClass('grid-view').addClass('list-view');
			}
		});
		$('.grid-view-btn').click(function() {
			if ($(this).hasClass("active")) {
				$(this).removeClass('active');
				$(this).siblings().addClass('active');
				$('.product-items').removeClass('list-view').addClass('grid-view');
			}
		});

		// mobile filter
		$('.filter-btn').click(function() {
			$('.product-list-filter').addClass('show');
		});
		$('.product-list-filter .close-popup').click(function() {
			$('.product-list-filter').removeClass('show');
		});

		if ($(window).width() < 980) {
			$('.tooltip-info-btn').click(function(event) {
				return false;
			})
		}

		// cart number
		$(".btn-plus").click(function() {
			var i = $(".btn-plus").index(this); //获取元素的index
			s = $(".cart-number .form-control").eq(i).attr("value"); //获得同一index的元素的值
			$(".cart-number .form-control").eq(i).attr("value", parseInt(s) + 1); //做加法
		});
		$(".btn-min").click(function() {
			var i = $(".btn-min").index(this);
			s = $(".cart-number .form-control").eq(i).attr("value");
			if (s > 0) {
				$(".cart-number .form-control").eq(i).attr("value", parseInt(s) - 1);
			}
		});
		
		// cart popup
		$('#addToCart').click(function() {
			$('#addSuccess').addClass('open');
		});
		$('alert-bar .close').click(function() {
			$(this).parent().removeClass('open');
		});
	});
</script>
