<section class="login">
	<div class="container">
		<div class="login-content">
			<h2>Reset your password</h2>
			<div class="login-content-desc">
				<p>Choose a new password to login in the Rectucel Insulation B2B portal to login to the Customer portal of Recticel
					insulation Lorem ipsum dolor sit amet, consectetur adipiscing eli.</p>
			</div>
			<form class="login-form">
				<div class="form-group">
					<label for="exampleInputPassword1">New password</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
				</div>
				<p class="help-block">Your password must be 8-16 characters. and include at least one lowercase letter, and a
					number.</p>
				<div class="form-group">
					<label for="exampleInputPassword2">Repeat new password</label>
					<input type="password" class="form-control" id="exampleInputPassword2" placeholder="Repeat password">
				</div>
				<div class="login-btn-box">
					<button type="submit" class="btn btn-primary btn-login">Reset<span class="icon-arrow-right"></span></button>
					<button type="button" data-toggle="modal" data-target="#forgotPassword" class="btn btn-link"><span class="btn-text">
						Canel
					</span></button>
				</div>
			</form>
		</div>
	</div>
</section>
