<section class="login">
	<div class="container">
		<div class="login-content">
			<h2 class="success-message"><span class="circle-border"><i class="icon-check"></i></span>Your password has been reset successfully</h2>
			<div class="login-content-desc">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
			</div>
			<div class="login-btn-box">
				<button type="submit" class="btn btn-primary btn-login">Login<span class="icon-arrow-right"></span></button>
			</div>
		</div>
	</div>
</section>
