$font-path: "../fonts/";

/* COLORS */
$brand-primary:			#FECB00;

$gray-base:				#000;
$gray-darker:			#44403B;
$gray-dark:				#988F86;
$gray:					#AEA79F;
$gray-light:			#E0DED9;
$gray-lighter:			#F3F2F1;

$text-color:			$gray-darker;
$text-gray:				$gray-dark;
$text-anti:				#fff;

$link-color:            $text-color;
$link-hover-color:		$gray-dark;

$border-color:			$gray-lighter;
$block-bg:				$gray-lighter;

$brand-success:         #377D22;
$brand-danger:          #D52B1E;

$border-radius-base:	0;
$input-border-radius:	4px;

/* Form */
$input-color:			$text-color;
$input-border:			$gray-light;
$state-success-text:	$brand-success;
$state-success-border:	$brand-success;
$state-danger-text:		$brand-danger;
$state-danger-border:	$brand-danger;
$form-group-margin-bottom:	20px;
$input-color-placeholder:	$gray-dark;

/* Button */
$btn-primary-color:			$text-color;
$btn-primary-border:		transparent;

/* Modals */
$modal-header-border-color:	$gray-lighter;
$modal-sm:					370px;

/* Tooltip */
$tooltip-color:				$text-color;
$tooltip-bg:				#fff;
$tooltip-max-width:			210px;
$tooltip-arrow-color:		#fff;
$tooltip-arrow-width:		7px;
$tooltip-opacity:			1;

/* Space */
$brand__spacing:			20px;
$brand__spacing--small:		10px;
$brand__spacing--large:		40px;
$brand__spacing--huge:		80px;

/* Fonts */
$font-size-h1:			34px;
$font-size-h2:			34px;
$font-size-h3:			20px;
$font-size-h4:			16px;
$font-size-h5:			14px;

$font-size-small:		12px;
$font-size-base:		14px;
$font-size-middle:		16px;
$font-size-large:		18px;
$font-size-huge:		20px;