.cart-btn {
	display:inline-flex; justify-content: center; padding:10px 15px 10px 20px; line-height: 40px; height: 60px;
	@media (min-width: $screen-md-min ) {
		padding-left: 0; padding-right: 0; width: 60px; height: 60px;
		&.big-cart { width:auto; padding-left:20px; padding-right:15px;
			[class*='icon-'] {float: left; margin-right: 12px;}
		}
	}
	[class*='icon-'] { font-size: 35px; line-height:40px;
		@media (max-width: $screen-sm-max ) {
			float: left; margin-right: 12px;
		}
	}	
}

.cart-amount { display: flex;
	.form-group { margin: 0;}
	.cart-total { max-width: 75px;}
	.equal { flex: 1; min-width: 20px; padding-top: 24px; line-height: 40px; text-align: center; font-weight: 600; color: #AEA79F; }
	label { display: block; padding: 0; margin-bottom: 5px; line-height: 20px;}
}
.cart-amount + .help-block { margin-bottom: 0; font-style: italic; font-size: $font-size-small;}
.cart-number { display: flex; width: 90px;
	.btn { height: 40px; width: 30px; padding:9px 0; background: $block-bg; border: 1px solid $gray-light; border-radius: 4px; font-weight: 600; cursor: default;}
	:first-child { border-radius: 4px 0 0 4px;}
	:last-child { border-radius: 0 4px 4px 0;}
	.form-control { width: 30px; border-left: none; border-right: none; border-radius:0; text-align: center; }
}