.crumbs {
	display: flex; list-style: none; margin: 10px 0 40px; padding: 0;
	.divider { margin:7px 8px; font-size: 50%;}
	.active {  color:$text-gray;}
	li a .icon-arrow-left-small { float: left; font-size: 50%; line-height: 30px; margin-right: 7px;}
	@media (max-width: $screen-sm-max )  {
		margin:5px 0 15px; line-height: 30px;
		li { display: none;}
		.back-level { display: block;
			a { display: inline-block;}
		}
	}
}