.footer { 
	padding:$brand__spacing--large 0 ;
	background: $block-bg;
	margin-top: 15px;
	@media (max-width: $screen-sm-max) {
		padding:$brand__spacing 0 ;
	}
}
.footer-content {
	@media (min-width: $screen-md-min) {
		display: flex;
	}
	h4 { margin-bottom: $brand__spacing;}
}
.footer-contact {
	flex: 1;
}
.footer-contact-card {
	display: flex;
	margin-bottom: 25px;
	font-size: $font-size-middle;
	
	.user-avatar {
		position: relative; z-index: 1; display: block; margin-right: 30px;
		&:after { content: ''; position: absolute; z-index: -1; left: 6px; top: 10px; display: block; width: 50px; height: 50px; background: #fff;  }
	}
	.user-avatar-img { width: 50px; height: 50px; border:2px solid $brand-primary; }
	.footer-contact-desc {
		p { margin-bottom: 0; }
		p + p { margin-top: 10px;}
	}
}
.footer-contact-ways {
	display: flex;
	
	li + li { margin-left: $brand__spacing;}	
}
.footer-contact-item { color: $text-gray;
	.contact-item-icon { position: relative; display: block; width: 40px; height: 40px; margin: 0 auto 5px; 
		&:before { content: ''; display: block; width: 28px; height: 28px; background: $brand-primary;}
		[class*='icon-'] { position: absolute; z-index: 1; bottom: 0; right: 0; font-size: 28px; color: $text-color; }
		.icon-question {background: #fff; border-radius: 50%;}
		.icon-mail:after { content: ''; position: absolute; z-index: -1; display: block; top: 3px; left: 0; right: 0; bottom:2px; background: #fff;}
	}
	&:hover { color: $text-color;}
}
.footer-portal {
	@media (max-width: $screen-sm-max) {
		margin-top: 25px;
	}
}
.footer-portal-links {
	display: flex;	
	font-size: $font-size-middle;
	line-height:1.25;
	
	li { padding: 10px 0;}
	ul { 
		& + ul { margin-left: 30px;}
		@media (min-width: $screen-lg-min) {
			min-width: 120px;
		}		
	}
	@media (max-width: $screen-sm-max) {
		flex-wrap: wrap;
		ul { min-width: 120px; margin-bottom: 12px;
			&:nth-child(odd) { margin-left: 0; }
			&:nth-child(even) { width: calc(100% - 155px);}
		}
	}
}

.footer-links-bar {
	display: flex; padding: 10px 0; line-height: 24px;
	li + li { margin-left: 30px; padding-left: 30px; border-left: 1px solid $border-color;}
}