/* Top bar */
.top-bar { height: 30px; background: $block-bg;
	.top-bar-content { display: flex;}
	.link-portal { flex: 1; font-weight: 600; font-size: $font-size-small; line-height: 30px;}
}
.top-tools { line-height: 30px;
	@media (min-width: $screen-md-min) {
		display: flex; line-height: 30px;
		> li + li { margin-left: 35px;}
	}
}
.navbar-collapse .top-tools {padding: 15px; background: $block-bg;}
.language-dropdown {
	@media (max-width: $screen-sm-max) {
		.dropdown-btn {
			line-height: 30px;
			justify-content: center;
		}
		&.open .dropdown-menu { padding: 5px 0; background: $block-bg;
			> li > a { padding-left: 15px; text-align: center;}
		}
	}
}
/* Header */
.header { box-shadow: 0px 13px 75px rgba(0, 0, 0, 0.05);
	.header-content { display: flex; padding: 15px 0; }
	.brand-logo { flex: 1;
		img { height: 70px;}
	}
	@media (max-width: $screen-sm-max) {
		position: fixed; z-index: 999; top: 0; left: 0; right: 0; background: #fff; max-height: 100vh; overflow-y: auto; box-shadow: none;
		.header-content { padding: 12px 0;}
		.brand-logo img { height: 40px;}
	}
}
.simple-header .header {box-shadow: 0px 13px 75px rgba(0, 0, 0, 0.05);}
.header-search-mobile { padding: 5px 15px; background: $block-bg;}
.header-search { display: flex; height: 50px; border: 1px solid $input-border; border-radius: 25px; background: #fff;
	@media (min-width: $screen-lg-min) {
		 width: 360px;
	}
	@media (min-width: $screen-md-min) {
		 margin-top: 10px; margin-right: 25px;
	}
	.search-txt { display: block; flex: 1; border: none; background: none; padding-left: 20px;
		@include placeholder;
	}
	.search-btn { width: 50px; height: 50px; border: none; background: none; font-size: 24px; text-align: center; line-height: 50px;}
}
.header-tools { display: flex;
	.tool-item { display: flex; padding: 5px 15px; border-left: 1px solid $border-color;
		&.tool-mail { padding-right:27px;}
		@media (min-width: $screen-md-min) {
			padding: 10px 25px;
			&.tool-mail { padding-right: 45px;}
		}
		@media (max-width: $screen-sm-max) {
			&.tool-mail { border-left: none;}
		}
		.dropdown-menu { left: 25px; right: 25px; margin-top: -10px;}
	}
	.tool-item-icon { position: relative; width: 30px; height: 30px; background: $block-bg; text-align: center;
		@media (min-width: $screen-md-min) {
			width: 50px; height: 50px;
		}
		&:hover { color: $text-color;}
		.icon-bell-full,
		.icon-truck { position: absolute; font-size: 16px;
			@media (min-width: $screen-md-min) {
				font-size: 28px;
			}
		}
		.icon-bell-full { left: -6px; bottom: -3px;}
		.icon-truck { right: -6px; bottom: -6px; }
		&.empty {
			.icon-bell-full {
				.path3:before { color: $text-color;}
				.path4,.path5 { display: none;}
			}
			.icon-chart-left-full .path1:before,
			.icon-chart-right-full .path1:before { color: $gray-lighter;}
		}
		.icon-chart-left-full,
		.icon-chart-right-full { position: absolute; top: -5px; font-size:22px;
			@media (min-width: $screen-md-min) {
				font-size: 37px;
			}
		}
		.icon-chart-left-full { left: -2px;}
		.icon-chart-right-full { right: -12px;
			@media (min-width: $screen-md-min) {
				right: -23px;
			}
		}
		.chart-number {position: absolute; z-index: 1; top: -5px; left: -2px; width:22px; line-height: 18px; text-align: center; font-weight: 600;
			@media (min-width: $screen-md-min) {
				 width: 37px; line-height: 30px;
			}
		}
	}
	.tool-mail .chart-number { left: auto; right: -12px;
		@media (min-width: $screen-md-min) {
			right: -23px;
		}
	} 
}
.user-dropdown {
	.user-dropdown-btn { display: flex; text-decoration: none; color: $text-color; cursor: pointer;}
	.user-avatar { position: relative; display: block; width: 50px; height: 50px; margin-right: 15px; line-height: 50px; color:$brand-primary; font-size: 26px; text-align: center; }
	.user-avatar-img { position: absolute; width: 100%; top: -10px; left: -6px;  border:2px solid $brand-primary; 
		& + .icon-user { display: none;}
	}
	.user-name { display: block; margin-bottom: 5px; font-weight: 600; text-decoration: none;
		[class*='icon-'] { margin-left: 5px; font-size: 10px;}
	}
	@media (max-width: $screen-sm-max) {
		.user-dropdown-btn {
			 padding: 12px 15px; background: $brand-primary;
		}
		.user-avatar { background: #fff;}
		.user-avatar-img { border-color: $gray-light;}
		&.open .dropdown-menu { padding: 15px 0; background: $block-bg;}
	}
}
/* Navigation */
.navbar-toggle {
	margin: 0 -15px 0 0; padding: 0; width: 30px; height: 30px; line-height: 30px; text-align: center;
	.icon-cancel { font-size: 20px;}
	.icon-menu-collapsed { display: none; font-size: 27px;}
	&.collapsed {
		.icon-menu-collapsed { display: block;}
		.icon-cancel { display: none;}
	}
}
.navbar-collapse { padding: 0; border-top: 1px solid $border-color; }
.navbar-nav {
	margin-top: 0; margin-bottom: 0;
	> li {
		position: relative;
		@media (min-width: $screen-md-min) {
			margin: 0 17px;
			& + li:before { content: ''; position: absolute; top: 8px; bottom: 8px; left: -17px; border-left: 1px solid $border-color; }
		}
		@media (max-width: $screen-sm-max) {
			& + li { border-top: 1px solid $border-color;}
		}
		> a { position: relative; padding:15px; font-size: $font-size-middle; font-weight: 600;
			@media (min-width: $screen-md-min) {
				padding:20px;
			}
			&:hover,
			&:focus {
				background: none; color: $text-color;
				@media (min-width: $screen-md-min) {
					&:before { content: ''; position: absolute; left: 0; bottom: 0; right:0; border-bottom: 3px solid  $brand-primary;}
				}
			}
		}
		
		&:hover > a,
		&.active > a {
			background: none;
			@media (min-width: $screen-md-min) {
				&:before { content: ''; position: absolute; left: 0; bottom: 0; right:0; border-bottom: 3px solid  $brand-primary;}
			}
		}
	}
	.open > a, 
	.open > a:hover,
	.open > a:focus {
		background: none;
	}
	@media (min-width: $screen-md-min) {
		.dropdown:hover .dropdown-menu { display: block;}
	}
	@media (max-width: $screen-sm-max) {
		.dropdown.open{
			> a { padding-bottom: 10px ;}
			padding-bottom: 20px;
		}
	}
}
.navbar-collapse.in { min-height: calc(100vh - 154px;)};