.login-content {
	max-width: 775px;
	margin:$brand__spacing--huge 0 $brand__spacing--large;
	@media (max-width: $screen-sm-max) {
		margin-top: $brand__spacing--large;
	}
	
	h2 { margin-bottom: 30px;}
	.login-content-desc {
		opacity: 0.6;
		color: #2B2B2B;
		font-size: $font-size-huge;
	}
}
.login-form { 
	max-width: 500px;
	margin-top: $brand__spacing;
	.form-group {
		max-width: 415px;
	}
}
.modal-body .login-form {margin-top:  $brand__spacing--large;}
.login-btn-box {
	margin-top:  $brand__spacing--large;
	.btn-login { width: 195px; margin-right: 25px;  display: inline-flex; justify-content: space-between;}
	@media (max-width: $screen-xs-max) {
		.btn-login { margin-bottom:10px;}
	}
}