.product-list-overview {
	background: $block-bg;
	@media (min-width: $screen-md-min) {
		display: flex; padding: $brand__spacing;
	}
}
.product-search {
	display: flex;  height: 50px; background: #fff;
	.search-txt { display: block; width: calc(100% - 50px); border: 1px solid $input-border; border-right: none; background: none; padding-left: 10px;
		@include placeholder;
	}
	.search-btn { width: 50px; height: 50px; border: none; background: $brand-primary; font-size: 20px; text-align: center; line-height: 50px;}
}
/* Filter */
.product-list-filter { color: $gray-base; background: #fff;
	@media (min-width: $screen-md-min) {
		width: 240px; margin-right: 20px;
	}
	@media (max-width: $screen-sm-max) {
		display: none; position: fixed; z-index: 1001; top: 0; right: 0; bottom: 0; left: 0; overflow-y: auto;
		&.show { display: block;}
		.close-popup { top: 20px; right:20px; border: 2px solid #fff; line-height: 38px;}
	}
}
.product-filter-number { padding:30px 15px; border-bottom: 1px solid $gray-light;}
.product-filter-group { margin-bottom: 0;
	.panel { margin: 0 ; box-shadow: none;
		& + .panel { margin-top: 0; border-top: 1px solid $gray-light;}
	}
	.panel-heading { padding: 0; }
	.panel-title { font-size: inherit;
		> a { display: flex; position: relative; padding:25px 15px; line-height: 20px; text-decoration: none;}
		.icon-arrow-top,.icon-arrow-down { position: absolute; right:15px; top: 25px; margin: 5px; font-size: 10px;}
		.icon-arrow-down { display: none;}
		.collapsed {
			.icon-arrow-top { display: none;}
			.icon-arrow-down { display: block;}
		}
		.tooltip-info-btn { display:inline-block; background: none; border: none; padding: 0; margin: 0 3px; font-size: 12px; line-height: 20px;
			.icon-info { line-height: inherit;}
			@media (max-width: $screen-sm-max) {
				position: relative;
				&:before { content: ' '; display: block; position: absolute; top: -10px; right: -10px; bottom: -10px; left: -10px;}
			}
		}
	}	
	.panel-heading + .panel-collapse > .panel-body {border: none;}
	.panel-body {  padding: 0 15px 20px;}
	
	/* Filter List*/
	.checkbox { margin-top: 0; margin-bottom: 0;
		& + .checkbox { margin-top: 5px;}
	}
}
.app-list {
	li + li { margin-top: 5px;}
	a { text-decoration: underline; line-height:30px;
		&.active { text-decoration: underline; font-weight: 600;}
	}
	.app-list-icon { float: left; width: 20px; height: 15px; margin:8px 8px 0 0;}
}
/* Product List */
@media (min-width: $screen-md-min) {
	.product-list-content { width:calc(100% - 260px); }
}
@media (min-width: $screen-md-min) {
	.product-items-top { display: flex; flex-direction: row-reverse; margin-bottom: 20px; }
}
.product-view-box { display: flex; justify-content: flex-end; flex: 1;
	.control-label { margin:4px 20px 0 0;}
	.form-group {
	  display: inline-block;
	  margin-bottom: 0;
	  vertical-align: middle;
	}
	.form-control {
	  display: inline-block;
	  width: auto; 
	  min-width: 180px;
	  vertical-align: middle;
	  color: $gray-base; 
	}
	.btn-group { margin-left: 15px;}
	@media (max-width: $screen-sm-max)  {
		justify-content: space-between; margin-bottom:20px; padding: 5px 15px; background: $brand-primary; 
		.control-label { display: none; }
		.form-control { min-width: 0;}
	}
	.filter-btn { display: inline-block; padding: 10px 0; color: $gray-base; font-size: $font-size-middle; line-height: 20px;
		.icon-filter { float: left; margin-right: 7px; font-size: 20px;}
		&:hover { text-decoration: none; color:  $gray-base; cursor: pointer;}
	}
}
.product-filter-result { display: flex; flex-wrap: wrap; padding: 5px 0;
	@media (max-width: $screen-sm-max) {
		 padding:0 20px; margin-top: -10px; margin-bottom: 20px;
		 .btn { margin-top: 10px}
	}
	label { line-height: 30px; padding: 0; margin-right: 15px; }
	.btn { margin-right: 15px;}
}
.product-item-header {
	position: relative; text-align: right; height: 90px;
	.new { display: block;position: absolute; z-index: 1; right: 0; top:40px; padding: 0 10px; background: $brand-primary; border-radius: 4px 0 0 4px; line-height: 24px; text-transform: uppercase; font-weight: 600;}
	.product-promo { position: absolute; z-index: 1;top: 0; left: 0; width: 100%; background: $gray-darker; color: #fff; text-align: center;}
	.product-item-app { position: absolute; left:15px; bottom:20px; width: 40px; }
	.product-item-img { height: 90px;}
}
.product-item-body { padding: 0 15px 15px 15px;  font-size: $font-size-small;
	.product-item-brand { height: 18px; display: block; margin-bottom:10px;}
	.product-item-price { margin-bottom: 10px; text-align: right; font-style:italic; color: $gray-base;}
	.product-item-desc { margin-bottom: 15px;}
	.product-item-spec { margin: 0; line-height: 20px;
		&:after { content: ''; display: block; clear: both;}
		dt,dd { margin-top: 5px; line-height: 20px;}
		dt { float: left; clear: left;}
		dd { float: right; clear: right; }
	}
}
.product-item-footer { display: flex; flex-direction: row-reverse; justify-content:space-between; padding: 0 20px 15px; background: #fff;
	.btn-link { line-height: 35px;}
}
/* Product list view */
.hidden-list { display: none;}
.product-items {
	@media (min-width: $screen-sm-min) {
		display: flex; flex-wrap: wrap;
	}
	@media (max-width: $screen-sm-max)  {
		padding:0 20px; margin: 20px 0;
	}
}
.product-item { position: relative; margin-bottom:20px; background: #fff;
	@media (min-width: $screen-sm-min ) and (max-width: $screen-sm-max)  {
		width:calc(50% - 10px); margin-left: 20px;
		&:nth-child(odd) { margin-left: 0;}
	}
}
.grid-view .product-item {
	@media (min-width: $screen-md-min ) and (max-width: $screen-md-max)  {
		width:calc(50% - 10px); margin-left: 20px;
		&:nth-child(odd) { margin-left: 0;}
	}
	@media (min-width: $screen-lg-min) and (max-width: 1399px)  {
		width:calc(33.33% - 14px); margin-left: 20px;
		&:nth-child(3n + 1) { margin-left: 0;}
	}
	@media (min-width: 1400px) {
		width:calc(25% - 15px); margin-left: 20px;
		&:nth-child(4n + 1) { margin-left: 0;}
	}
	
}
@media (min-width: $screen-md-min) {
	.grid-view {
		.product-item { border: 2px solid $border-color;border-bottom: none;}
		.product-item-body  { position: relative; z-index: 1; background: #fff;}
		.product-item-footer { display: none; position: absolute; top: 100%; left: -2px; right: -2px; border: 2px solid #FECB00; border-top: none; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);}
		.product-item:hover { z-index: 10; border-color:#FECB00; box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
			.product-item-footer { display: flex;}
		}
	}
	.list-view { display: block;
		.hidden-list { display: block;}
		.hidden-grid { display: none;}
		.product-item { display: flex; min-height: 210px; margin-bottom: 2px;}
		.product-item-header {
			position: relative; width:185px; margin-right: 35px; height: 210px; overflow: hidden;
			@media (min-width: $screen-lg-min) {
				width: 265px;
			}
			.product-item-img { position: absolute; z-index: 0; height:210px; top: 0; right: 0; max-width: none;}
		}
		.product-item-body { padding:20px 0;
			@media (min-width: $screen-md-min) {
				width: calc(100% - 380px);
			}
			@media (min-width: $screen-lg-min) {
				width: calc(100% - 460px);
			}
			@media (min-width:1400px) {
				width: calc(100% - 540px);
			}
			.product-item-title { display: flex; align-items:flex-end; margin-bottom: 20px; }
			.product-item-brand { height: 20px; margin-bottom: 0px;}
			.product-item-price { margin-bottom: 0; flex: 1;}
			.product-item-summary { display: flex; align-items:center; margin-bottom: 20px;}
			.product-item-app { display: block; width: 40px; height: 31px; margin-right: 10px;
				@media (min-width: $screen-lg-min) {
					width: 70px; height: 55px; margin-right: 20px;
				}
			}
			.product-item-desc { margin-bottom: 0; flex: 1;}
			.product-item-spec { display: flex; flex-wrap: wrap;
				dt,dd { float: none; }
				dd { text-align: right;}
				@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
					dt,dd { width: 50%; }
				}
				@media (min-width: $screen-lg-min) and (max-width: 1399px) {
					dt,dd { width: 24%; }
					dt:nth-child(4n + 3) { margin-left:4%;}
				}
				@media (min-width:1400px) {
					dt,dd { width: 20%; }
					dt:nth-child(4n + 3) { margin-left: 20%;}
				}
			}
			
		}
		.product-item-footer {width: 160px; padding: 20px; align-items:flex-end; flex-direction:column;
			@media (min-width:1400px) {
				width: 240px;
			}
			.btn-link { padding: 0;}
		}
	}
}

/* Cart Popup*/
.amount-group {
	&:last-child { margin-bottom: 0;}
	.control-label { margin-top: 29px;}
}